@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:wght@300&family=Orbit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__header {
  display: flex;
  padding: 1rem;
  background-color: #17363b;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  width: 100vw;
}
.nav__header .header__logo {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 30%;
}
.nav__header .header__right {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-content: center;
  justify-content: flex-end;
}
.nav__header .header__right .registro {
  font-family: "Orbit";
  color: #f3f0fc;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  justify-content: flex-end;
  align-items: center;
  background-color: #DD7230;
  border-radius: 2%;
  width: 50%;
}
.menu__item {
  font-family: "Orbit";
  font-size: 2rem;
}

.hero {
  display: flex;
  background-color: white;
  padding-right: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
.hero .slogan__img {
  width: 99vw;
}

.main__page {
  display: flex;
  padding: 2rem;
}
.main__page .secciones {
  width: 50vw;
}
.main__page .secciones div {
  width: 50vw;
}
.main__page .secciones div:hover {
  font-size: 2rem;
}
.main__page .secciones .nosotros {
  background-color: #C0CDD8;
  border-radius: 2%;
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.main__page .secciones .contacto {
  background-color: #953413;
  border-radius: 2%;
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main__page .secciones .reservar {
  background-color: #F3E3B9;
  border-radius: 2%;
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main__page .secciones .cotizar {
  background-color: #17363B;
  border-radius: 2%;
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 2rem;
}
.main__page .galeria {
  border-radius: 2%;
  overflow: hidden;
  width: 40vw;
  margin: 3rem;
}

.info__contacto {
  display: flex;
  padding: 2rem;
}
.info__contacto .item_whatsapp {
  background-color: #F3E3B9;
  border-radius: 2%;
  font-family: "Montserrat";
  padding: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.info__contacto .item_llamada {
  background-color: #17363B;
  border-radius: 2%;
  font-family: "Montserrat";
  padding: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.info__contacto .item_instagram {
  background-color: #DD7230;
  border-radius: 2%;
  font-family: "Montserrat";
  padding: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.info__contacto .item_facebook {
  background-color: #C0CDD8;
  border-radius: 2%;
  font-family: "Montserrat";
  padding: 2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.info__contacto .item_mail {
  background-color: #F3E3B9;
  border-radius: 2%;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.info__contacto .item_mail .boton_form_mail {
  background-color: #17363B;
}
.info__contacto .item_ubicacion {
  background-color: #953413;
  border-radius: 2%;
  overflow: hidden;
  background-color: white;
}

.main_descripcion {
  display: flex;
  flex-wrap: wrap;
}
.main_descripcion .carousel-item img {
  display: flex;
}
.main_descripcion .carousel-control-prev-icon {
  background-color: #17363B;
}
.main_descripcion .carousel-control-next-icon {
  background-color: #17363B;
}
.main_descripcion .descripcion p {
  display: flex;
}
.main_descripcion .descripcion_texto {
  justify-content: flex-end;
  align-items: center;
  font-family: "Montserrat";
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 2rem;
  width: 50vw;
  text-align: justify;
}

.calculadora {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculadora img {
  width: 100%;
}

.reservaform {
  padding: 2rem;
}
.reservaform label {
  font-family: "Montserrat";
  font-size: 1.5rem;
}
.reservaform button {
  background-color: #17363b;
  color: #f3e3b9;
}

.signup {
  display: flex;
  padding: 2rem;
}
.signup div {
  font-family: "Montserrat";
  font-size: 1rem;
}
.signup button {
  background-color: #17363b;
  color: #f3e3b9;
}

.pie {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
}
.pie a {
  align-items: end;
  background-color: #17363B;
}
.pie a:hover {
  background-color: #F3E3B9;
  color: #17363B;
}

@media (max-width: 700px) {
  .header__right p {
    font-size: 1rem;
  }
  .menu__item {
    font-size: 1rem;
  }
}
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */