.info__contacto {
    display: flex;
    padding: 2rem;
    .item_whatsapp {
        background-color: #F3E3B9;
        border-radius: 2%;
        font-family: 'Montserrat';
        padding: 2rem;
        font-weight: bold;
        margin-right: .5rem;
    }
    .item_llamada {
        background-color: #17363B;
        border-radius: 2%;
        font-family: 'Montserrat';
        padding: 2rem;
        font-weight: bold;
        margin-right: .5rem;
    }
    .item_instagram {
        background-color: #DD7230;
        border-radius: 2%;
        font-family: 'Montserrat';
        padding: 2rem;
        font-weight: bold;
        margin-right: .5rem;
    }
    .item_facebook {
        background-color: #C0CDD8;
        border-radius: 2%;
        font-family: 'Montserrat';
        padding: 2rem;
        font-weight: bold;
        margin-right: .5rem;
    }
    .item_mail {
        background-color: #F3E3B9;
        border-radius: 2%;
        overflow: hidden;
        font-family: 'Montserrat';
        font-weight: bold;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-right: .5rem;
        margin-top: .5rem;
        .boton_form_mail {
            background-color: #17363B;
        }
    }
    .item_ubicacion {
        background-color: #953413;
        border-radius: 2%;
        overflow: hidden;
        background-color: white;
    }
}