.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.reservaform {
    padding: 2rem;
    label {
        font-family: $fuentePrincipal;
        font-size: 1.5rem;
    }
    button {
        background-color: #17363b;
        color: #f3e3b9;
    }
}