.hero {
    display: flex;
    background-color: white;
    padding-right: 2rem;
    height: fit-content;
    .slogan__img {
        width: 99vw;
    }
}

.main__page {
    display: flex;
    padding: 2rem;
    .secciones {
        width: 50vw;
        div {
            width: 50vw;
            &:hover {
                font-size: 2rem;
            }
        }
        .nosotros {
            background-color: #C0CDD8;
            border-radius: 2%;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 1.5rem;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        .contacto {
            background-color: #953413;
            border-radius: 2%;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .reservar {
            background-color: #F3E3B9;
            border-radius: 2%;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .cotizar {
            background-color: #17363B;
            border-radius: 2%;
            font-family: 'Montserrat';
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 1.5rem;
            margin-top: 2rem;
        }
    }
    .galeria {
        border-radius: 2%;
        overflow: hidden;
        width: 40vw;
        margin: 3rem;
    }
}


  