.pie {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 3rem;
    a {
        align-items: end;
        background-color: #17363B;
        &:hover {
            background-color: #F3E3B9;
            color: #17363B;
        }
    }
}